/* body{
  background-color: #fafbfd;
} */

.con2{
  padding-top: 50px;
}

.con3{
  padding-top: 30px;
  padding-bottom: 100px;
}

.hh{
    font-family: 'Cinzel', serif;
    padding-top: 20px;
}
